{% set terms = terms_slider %}
<div id="carousel_accueil" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for key,value in terms %}
        {% if key == 0 %}
        <div class="carousel-item carousel-first-slider active">
            {% else %}
            <div class="carousel-item carousel-first-slider">
                {% endif %}
                <div id="slider-accueil">
                    <div class="title-slider">
                        <div class="title-inner">
                            <div class="cafe">
                                <div class="cafe-inner chef-accueil-slider">Dirigeants et chef d'entreprise</div>
                            </div>
                            <div class="mozart">
                                <div class="mozart-inner liberez_du_temps">Libérez du temps!</div>
                            </div>
                            <div>
                                <ul class="banner-point">
                                    {% for key1, text in terms[key].texte %}
                                        <li class="item-slide" style="animation-delay: {{ key1*2.5 }}s;"><span>{{ text.properties.value.value }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="image">
                        <img src="{{ value.image_url }}" width="100%">
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <button class="carousel-control-prev carousel-control-prev-custom" type="button" data-bs-target="#carousel_accueil" data-bs-slide="prev">
            <i class="fa fa-caret-left button-prev-triangle"></i>
        </button>
        <button class="carousel-control-next carousel-control-next-custom" type="button" data-bs-target="#carousel_accueil" data-bs-slide="next">
            <i class="fa fa-caret-right button-next-triangle"></i>
        </button>
</div>