@font-face {
    font-family: Arial-nova;
    src: url(../fonts/arial-nova.ttf);
}

body {
    font-family: Arial-nova !important;
    font-size: 1rem !important;
}

#header {
    background-color: white;
    background-image: none;
}
.site-branding__name a {
    color: #00b2a9 !important
}
.opt-menu{
    background: white;
    border-bottom: solid 1px #ffedb8;
}
.uppercase {
    text-transform: uppercase;
}
.region-primary-menu .menu a {
   border-radius: 0px;
}

.button-intro{
     background: #4f6d7a;
     border-radius: 5px;
     padding: 10px;
     color: white;
     text-align: center;
     margin-bottom: 0.5rem;
 }

.button-intro-etude{
    background: #4f6d7a;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 80%;
    margin-left: 10%;
}

.button-intro-phone{
    background: #ffc001;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.button-intro-phone a, .button-intro a, .button-intro-etude a{
    color: white;
    text-decoration: none;
}

.button-intro-etude a{
    font-weight: bold;
}

.opt-menu .menu-item a {
    color: #26b6b4 !important;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

#menu a, .sub-menu a { text-decoration: none; }

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
    #menu li {
        width: 33.333%;
    }

    #menu .sub-menu li {
        width: auto;
    }
}

@media only screen and (min-width: 52em) {
    #menu .main-menu {
        display: block;
    }

    #toggle-menu,
    #menu label.drop-icon {
        display: none;
    }

    #menu ul span.drop-icon {
        display: inline-block;
    }

    #menu li {
        float: left;
        border-width: 0 1px 0 0;
    }

    #menu .sub-menu li {
        float: none;
    }

    #menu .sub-menu {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
        z-index: 3000;
    }

    #menu .sub-menu,
    #menu input[type="checkbox"]:checked + .sub-menu {
        display: none;
    }

    #menu .sub-menu li {
        /*border-width: 0 0 1px;*/
    }

    #menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    #menu li:hover > input[type="checkbox"] + .sub-menu {
        display: block;
    }
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu .main-menu {
    display: block;
}

#tm:checked + .main-menu {
    display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
    display: none;
}

#menu li,
#toggle-menu,
#menu .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
}

#menu li,
#toggle-menu {
    border-width: 0 0 0px;
}

#menu .sub-menu {
    background-color: #fcfcfc;
    /*border-width: 1px 1px 0;*/
    width: 100%;
}

#menu .sub-menu li:last-child {
    border-width: 0;
}

#menu li,
#toggle-menu,
#menu a {
    position: relative;
    display: block;
    color: white;
    /*text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);*/
}

#toggle-menu,
#menu a {
    padding: 1em 1.5em;
    color: #7d7d7d;
    text-transform: uppercase;
}

.sub-menu a {
    text-transform: capitalize !important;
}

#menu a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
    background: #ababab24;
}

#menu .sub-menu {
    display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
}

.site-branding__logo img { height: 50px; margin-right: 0 !important; }

.node--type-service {
    box-shadow: 1px -1px 8px -2px grey;
    /*padding: 2rem;*/
}

.site-branding__text {
    color: #26b7b4 !important;
    font-weight: bold;
    padding-top: 0px;
}

.item-flex-slide {
    display: flex !important;
    justify-content: space-between;
}

.banner-point li {
    list-style-type: none !important;
    font-size: 2vw;
}

.banner-point {
    padding-left: 2vw;
}

.image_slider_accueil {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.liberez_du_temps {
    color: #26b7b4;
    /*font-size: 4vw;*/
}

.item-slide {
    font-weight: 400;
}

.item-slide span {
    color: white;
}

.title_services_accueil h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    color: #607d8b;
    font-size: 2.3rem;
    /* text-transform: uppercase; */
    /*font-family: fantasy;*/
}

.view-liste-services-accueil .view-content{
    display: flex;
    flex-wrap: wrap;
}

.ligne{
   padding: 10px;
}

/*.ligne:hover {
    background: #fcfcfc;
    color: #009999;
    border-left: 2px solid #273e4d;
    border-right: 2px solid #273e4d;
}*/

/*.title_service {
    text-decoration: none;
    text-align: center !important;
    !*font-size: 4vw;*!
    color: #26b7b4;
    padding: 5% 5% 5% 5%;
    margin-bottom: 0px;
}*/

.field_accueil_resume_service {
    padding: 7%;
}

.know_more {
    padding: 0 7% 10% 7%;
}

.know_more a {
    color: #26b7b4;
    /*font-size: 3vw;*/
    float: right;
    font-weight: bold;
}

.know_more a:hover{
    text-decoration: none;
    color: #ffc000;
}

.block-slider, .block-services {
    padding:1%;
    margin-top:1%;
}

.block-services {
    background: #faebd740;
}

.field_accueil_resume_service, .know_more {
    /*font-size: 3vw;*/
}

.img_temoignage {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.bloc_1_temoignage {
    text-align: center;
}

.flex {
    display: flex;
}

.bloc_3_temoignage{
    padding: 1rem;
}

.flex-20-3 {
    width: 20%;
    margin: 2%;
}

.flex-40-3 {
    width: 40%;
    margin: 2%;
}

.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.bloc_image_temoignage {
    text-align: center;
}

.slick-item {
    margin: 1rem;
    text-align: center;
}

/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.slick-item-title{
    padding: 2%;
    font-weight: bold;
    padding-top: 5%;
    color: #306b77;
    /*font-size: large;*/
}


.slick-item {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.slick-demo {
    width: 90%;
    margin-left: 5%;
}

.slick-prev{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: -5%;
    cursor: pointer;
}

.slick-next{
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: -3%;
    cursor: pointer;
}

.slick-item:hover {
    background: #162534!important
}

.slick-item:hover > .views-field-field-description {
    background: #2a40440a!important;
    color: black;
}

.slick-item:hover .slick-item-title {
    color: white;
}

.site-footer h2 {
    font-weight: bold;
    color: #26b7b4 !important;
}

.site-footer {
    font-size: 1rem !important;
    background: black;
}

.site-footer .block {
    border-width: 0;
}

.site-footer .content {
    color: white;
}

.social-facebook {
    color: #3b5998;
}

.social-linkedin {
    color: #0082ca;
}

.social-instagram {
    color: #ac2bac;
}

.icon-social-media {
    padding: 0.5rem;
    font-size: 0.7rem;
}

@keyframes hideshow {
    0% { opacity: 1; }
    10% { opacity: 1; }
    15% { opacity: 0.4; }
    100% { opacity: 0.7; }
}

.button-next-triangle, .button-prev-triangle {
    color: #26b7b4;
    animation: hideshow 2s ease infinite;
    font-size: 5vw;
}

.carousel-control-next, .carousel-control-prev { opacity: 1!important; }

@media (min-width: 851px){
    .site-footer__top .region {
        width: 30% !important;
    }
    .site-footer__top .region-footer-fourth {
        width: 5% !important;
    }
}

.block-copyright-footer .content {
    color: #a9a9a9;
}

.cta-service {
    margin-top: 30%;
    height: fit-content;
    border-radius: 3px;
    position: sticky;
    top: 15%;
    background: white;
    width: 100%;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.img-cta {
    /*width: 80%;*/
    /*margin-left: 10%;*/
    padding: 10%;
    padding-bottom: 0;
}
.text-cta {
    /*font-size: 2vw;*/
    color: #249390;
    font-weight: bold;
    text-align: center;
}

.text-cta p {
    margin-bottom: 0;
}
.btn-cta{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    font-weight: normal;
    letter-spacing: 0.05px;
    line-height: normal;
    padding: 12px 30px;
    color: white;
    background:#ff655b ;
    font-size: 1.1vw;
}

.btn-cta:hover, .btn-cta:focus, .btn-cta:active{
    color: #ff655b;
    background: white;
}

.content-btn-cta {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 24px;
}

.recommend-cta {
    text-align: center;
    margin-top: 1rem;
    margin: 5%;
}
.recommend-cta .fa-star {
    color: #f4bd0a;
}
.recommend-cta a {
    color: #36c6c5;
    font-weight:bold;
    margin: 5%;
}
.recommend-cta .fivestar-default, .recommend-cta .description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.align-items {
    align-items: center;
}

.article-service { box-shadow: none; }

.flex-50 { width:50%; }

.content-service {  padding: 1rem;  padding-top: 1rem; }

.content-service div { text-indent: 2rem; }

.content-service h1 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    [class=fixed] { position: fixed; top:0; left: 0; right: 0; }
}

.eu-cookie-compliance-content { padding-top: 4%; }

.bloc_temoignage { align-items: center; /*padding: 0 10vh;*/ }

.flex-20 { width: 20%; }
.flex-80 { width: 80%; }

.breadcrumb {  background: white !important;  margin-bottom: 1rem; }

.breadcrumb ol > li > a { font-weight: bold; color: #8b8787; }
.breadcrumb ol > li > a:hover { color: #64ccc9; text-decoration: none; }

.slick-item a:hover {  text-decoration: none !important; }

.breadcrumb li:before {
    content: " \BB ";
    color: #8b8787;
}

.col-service {
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    background-color: #fcfcfc;
    height:100%;
}

.col-service:hover {
    background: #273e4d;
    color: white;
    transform: translateY(-10px);
    box-shadow: 0px 5px 5px 3px #5d5757;
    transition: all .3s ease-in-out;
}

.bloc_contenu_temoignage {
    text-align: center;
    padding: 10px;
    /*font-size: 2vw;*/
}

.bloc_image_temoignage_pers {
    margin-top: 10px;
    /*font-size: 2vw;*/
}

.carousel_control {padding: 0 !important;}
/*.chef-accueil-slider { font-size: 3vw; }*/

.responsive-menus.responsified .responsive-menus-simple {
    width: 100%;
    background: #f8f8f8;
}
.responsive-menus.responsified span.toggler {
    background: #26b7b4;
    color: #ffffff;
    box-shadow: 2px 2px 2px #767676;
    /*font-size: 5vw;*/
    font-weight: bold;
    width: 10vw;
}

@media only screen and (max-width: 675px) {
    .chef-accueil-slider { font-size: 3vw; }
    .liberez_du_temps { font-size: 3.5vw; }
    .banner-point li { font-size: 2vw; }
    .title_services_accueil h2 { font-size: 5vw; }
    .texts-slider {
        text-align: center; vertical-align: middle; padding-top: 5%;height: 30vh;
    }
    .image-temoignage {
        width: 30vw;
        height: 30vw;
    }
    .button-next-triangle, .button-prev-triangle {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 995x) {
    .texts-slider {
        height: 30vh;
    }
}
.texts-slider {
    text-align: center; vertical-align: middle; padding-top: 5%;
}
.carousel-control { z-index: 99999999999999;}

.carousel-control-next-custom { right: -3vw !important; }
.carousel-control-prev-custom { left: -3vw !important; }

.iframely-embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: white;
}

#slider-accueil {
    /*z-index: 100;*/
}

#slider-accueil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    width: 100%;
    background: #000000;
}


@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.title-slider {
padding-top: 3vw;
padding-left: 5vw;
grid-column: 1 / -1;
grid-row: 1;
font-family: "Prata", serif;
width: 100%;
z-index: 2;
}
.cafe-inner {
    font-size: 4vw;
}
.mozart-inner{
    font-size: 4vw;
    color: blanchedalmond;
    background: #5a5e6245;
    padding: 0 2vw;
    margin-bottom: 0.5em;
}
.title >  .title-inner {
display: inline-block;
}

@keyframes text-clip {
from {
clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
to {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
}

@keyframes outer-left {
from {
transform: translateX(50%);
}
to {
transform: none;
}
}

@keyframes inner-left {
from {
transform: translateX(-50%);
}
to {
transform: none;
}
}

.cafe,
.mozart {
animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}


.title-inner {
display: inline-block;
animation: inner-left 1s 1s ease both;
}

.cafe-inner {
display: inline-block;
animation: inner-left 1s 1s ease both,
text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-slider {
animation: outer-left 1s 1s ease both;
}

.cafe .cafe-inner {
display: inline-block;
background: #3c3c3c82;
margin-bottom: 2vh;
padding: 0 2vw;
color: #ffc001;
}

.mozart {
display: inline-block;
}

.image {
grid-row: 1;
grid-column: 2;
margin-left: -2rem;
opacity: 0.6;

animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}

@keyframes image-in {
from {
clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
to {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
}

img {
display: block;
width: 100%;
height: auto;
}

.banner-point li {
animation: FadeIn 2s linear;
animation-fill-mode: both;
}

@keyframes FadeIn {
0% {
    opacity: 0;
    transform: scale(.1);
}
85% {
    opacity: 0.5;
    transform: scale(1.05);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}

.carousel-control-prev, .carousel-control-next { z-index: 200 !important;}
.sub-menu > li > a:hover {
    background: #26b6b31a !important;
    color: #646464 !important;
}
.sub-menu {
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
}
.control-custom { width: 0% !important; }
.blog_post {
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
    height: 100%;
}
.blog_post:hover {
     background: #7d7b7b;
     color: whitesmoke;
 }
.blog_post:hover .title_service{
    color: #ffefbd;
}

.container_copy {
    padding: 4rem;
}

.btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #26b7b4, #333333);
    padding: 0.8rem 1rem;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    box-shadow: 1px 10px 2rem rgb(31 67 66);
    transition: all 0.2s ease-in;
    text-decoration: none;
    /* margin-top: 6px; */
    bottom: 1rem;
    right: 1rem;
    position: absolute;
}

.btn_primary:hover, .btn_primary:active, .btn_primary:focus{
    box-shadow: 0px 5px 1rem rgb(49 67 67);
    color: gainsboro;
}
.title_service {color: #bdbdbd;}

.btn-article-v {
    text-decoration: none;
    color: inherit;
    text-align: left;
}

.btn-article-v:hover {
    text-decoration: none;
    color: white;
}

.btn-article-v .views-field-title, .btn-article-v .views-field-field-review-rating, .btn-article-v .views-field-field-description {
    padding-left: 5%;
    padding-top: 2%;
}
.btn-article-v .views-field-title {
    color: #ffc000;;
}
.btn-article-v .fivestar-summary {  padding-bottom: 5%; }
.fivestar-default { padding-bottom: 2%; }
.btn-article-v .views-field-field-description {
    padding-bottom: 5%;
}
.btn-article-v .views-field-field-description {
    padding-bottom: 5%;
}
.btn-article-v .views-field-field-review-rating {
    padding-top: 5%;
}
.description .fivestar-summary {
    /*font-size: 1.5vw;*/
}
.title-article-detail{
    text-transform: capitalize;
    color: #487e8c;
    font-weight: bold;
}
.img-article-detail {
    padding-right: 0!important;
}
.sticky-article-detail {
    padding-left: 0!important;
}
.title-mini-article-detail {
    color: #26b7b4;
    font-size: 1.2rem;
}
.cta-service-article-detail {
    padding: 10%;
    padding-bottom: 5%;
    height: fit-content;
    border-radius: 3px;
    position: sticky;
    top: 15%;
    background: white;
    width: 100%;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
.description-article-detail, .review-rating-article-detail {
    padding-top: 1rem;
}
.cta-btn-article-detail{
    padding-top: 3rem;
}
.rating-article-detail{
    padding: 1rem;
}

.polaroid-img {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-bottom: 25px;
    color: #26b7b4;
    font-weight: bold;
}

.container-img {
    text-align: center;
    padding: 10px 20px;
}

.img-article-detail{
    border-radius: 10px;
}
.img-article-detail img{
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.title-bd-article{
    text-align: center;
    padding-top: 2rem;
}